
.root
{
	-fx-smooth: true;
	
	/**
	 * Die Grundfarbe von diese werden die späteren Properties teilweise abgeleitet
	 */
	-fx-base: #3e3e3e;
	
	  /**
     * Wird benötigt für die Container auf der Oberfläche als Basisfarbe
     */
    -fx-base-component: #090a0c;
	-fx-border-component-color: #333333;
}

UniversalDisplayControl
{
	
	-fx-background-color:
		-fx-base-component,  linear-gradient(#4d4d4d 0%, #1a1a1a 20%, #191d22 100%),
		  linear-gradient(#4d4d4d, #191d22),
		  radial-gradient(center 50% 0%, radius 25%, rgba(66, 66, 66, 0.9), rgba(255,255,255,0));

    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0, 0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-weight: bold;
    -fx-padding: 10 8 5 10;
    
}